.admin-card-user-container {
  width: 100%;
  max-width: 350px;
  height: 105%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  flex: 0 0 auto;
  justify-content: space-evenly;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  position: absolute;
  overflow-y: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.cardVisible {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    position: relative;
    opacity: 1;
    z-index: 2;
  }

  &:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }

  .not-creating-user {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

    * {
      margin-bottom: 7px;
    }

    &.creating-user {
      transform: translateY(280px);
      -webkit-transform: translateY(280px);
      -moz-transform: translateY(280px);
      -ms-transform: translateY(280px);
      -o-transform: translateY(280px);
    }
  }

  .hidden {
    display: none;
  }

  .display-name,
  .display-name:disabled {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    unicode-bidi: isolate;
    border: 0px solid transparent;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px 20px;
    text-align: center;
    height: 25.6px;
    margin: 0 0 10px;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }

  .date,
  .date:disabled {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    opacity: 0;
    border: 0px;
    background: transparent;
    width: 70px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    position: absolute;
    left: 0;
    user-select: none;
    font-size: 14px;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      width: 70px;
      user-select: none;
    }
  }

  .extraDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }

  select,
  select:disabled {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    width: 52px;
    padding: 0 8px;
    letter-spacing: 0.6px;
    opacity: 1;

    &:focus-visible {
      outline: none;
    }
  }

  table {
    transform: translateY(-15px);
    width: 100%;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);

    .lower-table-body {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
}

    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.password-prompt {
        td {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 23.6px;

          .password {
            -webkit-text-security: disc;
          }
        }
      }

      .email-prompt {
        overflow-x: scroll;
        width: 120px;
        text-align: end;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23.6px;

        .email {
          font-size: 15px !important;
          transform: translateY(-5.1px) !important;
          -webkit-transform: translateY(-5.1px) !important;
          -moz-transform: translateY(-5.1px) !important;
          -ms-transform: translateY(-5.1px) !important;
          -o-transform: translateY(-5.1px) !important;
        }
      }

      td {
        position: relative;

        input {
          width: 100%;
          font-size: 13px;
          border: 0.1px solid transparent;
          border-radius: 5px;
          margin-top: 10px;
          font-family: "Open Sans Condensed", sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background-color: transparent;
          outline: none;
          transition: 0.3s ease-in-out;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -ms-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          padding-left: 10px;
          transform: translateY(-4px);
          -webkit-transform: translateY(-4px);
          -moz-transform: translateY(-4px);
          -ms-transform: translateY(-4px);
          -o-transform: translateY(-4px);
          text-align: right;

          &:focus-visible {
            outline: none;
            text-align: left;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.8);
          }
        }
      }

      .authority-level {
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .user-change {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      overflow-x: scroll;

      &.lower-text {
          transform: translateY(13px);
          -webkit-transform: translateY(13px);
          -moz-transform: translateY(13px);
          -ms-transform: translateY(13px);
          -o-transform: translateY(13px);
}

      td {
        cursor: pointer;
      }

      .blue-text {
        color: blue !important;
      }

      .red-text {
        color: red !important;
      }
    }
  }
}
